{
  "presets": ["es2015", "stage-2"],
  "comments": false,
  "plugins": [
    ["transform-react-jsx", {"pragma": "element"}],
    "transform-runtime",
    ["vdux-transform", {
      "hoc": ["summon", "summonPrefs", "summonChannels", "form"],
      "transforms": [
        {
          "transform": "vdux-transform-hmr"
        }
      ]
    }],
    "jss-simple"
  ]
}
