{
  "comments": false,
  "env": {
    "production": {
      "presets": ["es2015", "stage-2"]
    },
    "staging": {
      "presets": ["es2015", "stage-2"]
    },
    "development": {
      "presets": ["es2015", "stage-2"],
    },
    "development-minimal": {
      "plugins": [
        "transform-es2015-destructuring",
        "transform-object-rest-spread",
        "transform-es2015-modules-commonjs",
        "transform-es2015-parameters"
      ]
    }
  },
  "plugins": [
    ["transform-react-jsx", {"pragma": "element"}],
    ["vdux-transform", {
      "hoc": ["summon", "summonPrefs", "summonChannels", "form"],
      "transforms": [
        {
          "transform": "vdux-transform-hmr"
        }
      ]
    }],
    "jss-simple"
  ]
}
