a {
  text-decoration: none;
  background: 0 0;
  color: inherit;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  height: 101%;
}

body {
  font-size: 13px;
  font-family: Lato,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #6A6A6A;
  background: #E9E9E9;
  margin: 0px;
  font-family: Lato, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body.modal {
  overflow: hidden;
}

h1,h2,h3,h4,h5 {
  font-weight: 200;
  line-height: 1.2em;
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 17px;
}

input, textarea, select {
  font: inherit;
}

textarea {
  resize: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
  border-collapse: collapse;
}

td, th {
  vertical-align: middle;
}

*:disabled {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

button {
  font-family: Lato,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  display: inline-block;
  padding: 0 25px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 2.3em;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  outline: 0;
  border: 1px solid rgba(0,0,0,0.09);
  -webkit-appearance: button;
}

.cropper-modal {
  background: white;
  opacity: .75;
}
.cropper-dashed, .cropper-center {
  display: none;
}

.cropper-bg {
  background: #909294
}

@media print {
  body.modal {
    overflow: auto !important;
  }
  .modal .app {
    display: none !important;
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, .7);
  }
  to {
    box-shadow: 0 0 0 .45em rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 1);
  }
}

@keyframes pulse-blue {
  from {
    box-shadow: 0 0 #25a8e0;
    background: #5bbee8;
  }
  to {
    box-shadow: 0 0 0 0.45em rgba(37,168,224,0);
    background: #25a8e0;
  }
}

.markdown {
  text-align: left;
  font-weight: lighter;
  word-break: break-word;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
  font-size: 13px;
  line-height: 13px;
  margin: 0 0 10px 0;
}
.markdown p,
.markdown ol,
.markdown ul {
  font-size: inherit;
  line-height: 1.3em;
}
.markdown p {
  margin-top: 1.3em !important;
  margin-bottom: 1.3em !important;
}
.markdown *:first-child {
  margin-top: 0 !important;
}
.markdown *:last-child {
  margin-bottom: 0 !important;
}
.markdown ol,
.markdown ul {
  padding: 0 0 0 40px;
}
.markdown ul {
  list-style-type: disc;
}
.markdown a {
  color: #25a8e0;
}
.markdown hr {
  border: 0;
  border-bottom: 1px solid #DCDEE2;
}
.markdown hr:first-child {
  padding-top: 10px;
}
.markdown table {
  margin-bottom: 12px;
}
.markdown table th {
  border-bottom: 1px solid #808080;
}
.markdown table td,
.markdown table th {
  padding: 3px 12px;
  font-size: 11px;
}
.markdown table tbody tr:nth-child(2n) {
  background: rgba(0,0,0,0.05);
}