@font-face {
  font-family: Lato;
  font-weight: 300;
  font-style: normal;
  src: url("http://localhost:3000/assets/Lato-Light-13600636889057725744.eot"),
    url("Lato-Light.eot?#iefix") format('embedded-opentype'),
    url("http://localhost:3000/assets/Lato-Light-8546753223886996304.woff2") format('woff2'),
    url("http://localhost:3000/assets/Lato-Light-14136606191906880887.woff") format('woff'),
    url("http://localhost:3000/assets/Lato-Light-16423451316895234793.ttf") format('truetype'),
    url("Lato-Light.svg#Lato-Light") format('svg');
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'),
    local('Lato-Regular'),
    url("https://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff") format('woff');
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'),
    local('Lato-Bold'),
    url("https://themes.googleusercontent.com/static/fonts/lato/v7/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff") format('woff');
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'),
    local('Lato-Black'),
    url("https://themes.googleusercontent.com/static/fonts/lato/v7/G2uphNnNqGFMHLRsO_72ngLUuEpTyoUstqEm5AMlJo4.woff") format('woff');
}

@font-face {
  font-family: weo-icons;
  font-weight: normal;
  font-style: normal;
  src: url("http://localhost:3000/assets/weo-icons-17212014199063086185.eot"),
    url("weo-icons.eot?#iefix") format('embedded-opentype'),
    url("http://localhost:3000/assets/weo-icons-6279010950547156336.woff") format('woff'),
    url("http://localhost:3000/assets/weo-icons-5955121165946049864.ttf") format('truetype'),
    url("http://localhost:3000/assets/weo-icons-900952840385478083.svg") format('svg');
}